<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/91994/IdeaProjects/SeleniumMavenNew/src/test/java/tesPackage/TestClass.java">
        <classes>
            <class name="tesPackage.TestClass">
<!--                <methods>-->
<!--                    <include name="Test1"/>-->
<!--                    <include name="Test2"/>-->
<!--                    <include name="Test3"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>